#logtable { width:210mm;}
#logtable table { border: 1px solid #000; border-collapse: collapse; }
#logtable table th { background-color: #99bbff; text-align:center; border: 1px solid #000;}
#logtable table td { text-align:left;}
#logtable table td,th { border: 1px solid #000; }
#logtable th, td { padding: 10px; }

#inputtable table { border: none;}
#inputtable table td,th { border: none; }
#inputtable th, td { padding: 10px; }

.logo {
    width: 80px;
    height: 99px;
    background: url('../images/uitmlogo.png') no-repeat;
	background-size: 80px;
    margin: auto;
}

.signature {
	float: right;
	font-family:Calibri; 
	font-size: 11.5px; 
	color: black
}

@media print
{
.noprint {display:none;}
-webkit-print-color-adjust: exact;
html,body{
    height:297mm;
    width:210mm;
    }
}

#charNum {
    float: right;
    margin: 0 0 10px 10px;
}
