#logtable table th { background-color: #99bbff; text-align:center;}

#inputtable table { border: none;}
#inputtable table td,th { border: none; }
#inputtable th, td { padding: 10px; }

.signature {
	float: right;
	font-family:Calibri;
	font-size: 11.5px;
	color: black
}

@media print
{
.noprint {display:none;}
-webkit-print-color-adjust: exact;
html,body{
    height:297mm;
    width:210mm;
    }
}

#charNum {
    float: right;
    margin: 0 0 10px 10px;
}
